<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>


<% if current_user.admin? && !@article.id.nil? %>
  <h3>Merge Articles</h3>
  <%= form_tag :action=>"merge", :id => @article.id do %>
  <%= error_messages_for 'article' %>
    <label for="merge_with"><%= _("Article ID")%></label>
    <%= text_field_tag("merge_with")  %>
    <%= submit_tag("Merge") %>
  <% end %>
<% end %>